# /etc/udev/rules.d/50-backlight-powersave.rules
# vim: ft=udevrules

SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/usr/bin/xset +dpms"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/usr/bin/xset 0 0 120"
ACTION=="add", KERNEL=="acpi_video0", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0" ATTR{backlight/brightness}="0"

ACTION=="add", KERNEL=="acpi_video0", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1" ATTR{backlight/brightness}="9"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/bin/xset -dpms"
