# /etc/udev/rules.d/50-sata-powersave.rules
# vim: ft=udevrules

ACTION=="add", SUBSYSTEM=="scsi_host", ATTR{link_power_management_policy}="min_power"
