# vim: ft=udevrules
ACTION=="add", SUBSYSTEM=="usb", ATTR{power/autosuspend}="1"
ACTION=="add", SUBSYSTEM=="usb", ATTR{power/control}="auto"
#ACTION=="add", SUBSYSTEM=="usb", ATTR{power/level}="auto"
