# Disable ethernet ports
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp*", RUN+="/usr/bin/ip link set dev %k down"

# Disable Wake-on-LAN
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp*", RUN+="/usr/bin/ethtool -s %k wol d"

# Enable powersaving on all wireless devices
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wlp*", RUN+="/usr/bin/iw dev %k set power_save on"
